<script type="text/javascript">
//var allSpan = document.getElementsByClassName('entries');
//
//for(var x = 0; x < allSpan.length; x++)
//{
//    allSpan[x].onclick=function()
//    {
//        if(this.parentNode)
//        {
//            var childList = this.parentNode.getElementsByClassName('listing');
//            for(var y = 0; y< childList.length;y++)
//            {
//                var currentState = childList[y].style.display;
//                if(currentState=="none")
//                {
//                    childList[y].style.display="block";
//                }
//                else
//                {
//                    childList[y].style.display="none";
//                }
//            }
//        }
//    }
//}
	
$(document).ready(function() {
    $('.book-menu ul li.entries').click(function(e) {
      $('.book-menu ul li ul.listing').slideUp();
      $(this).children('.book-menu ul li ul.listing').slideDown();
    });
//    $('.book-menu ul li.entries').click(function(e) {
//      var newText = $(this).text();
//      $(this).parents('.book-menu ul li.entries').find('strong').text(newText);
//      e.stopPropagation();
//    });
});
</script>