<script type="text/x-mathjax-config">
var font = "Gyre-Pagella";
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js", "enclose.js"] },
	Macros: {  
          ham: "{\\mathscr{H}}",
          lag: "{\\mathscr{L}}",
          kam: "{\\mathscr{K}}",
          d: "{\\textrm{d}}"
      },
  },
	"SVG":{ 
		font:font
	},
	"HTML-CSS": {
		webFont: font,
		imageFont: font,
		preferredFont: font,
		availableFonts: [],
		scale: 95,
		linebreaks: { automatic: true, width: "article" },
		mtextFontInherit: true
	}
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>